@charset "UTF-8";

/*
 * Copyright 2016, 2018 Eddie Antonio Santos. MIT licensed.
 */

#header .author {
    display: none;
}

body {
    font-family: sans-serif;
    margin: auto;
}

@media screen {
    body { max-width: 36em }
}

pre {
    padding: .5em;
    background-color: #f0f0f0;
    overflow-x: scroll;
    border-radius: 4px;
    box-shadow: inset -1px 1px 4px rgba(0,0,0,0.2);
}

table {
    margin: auto;
    border-collapse: separate;
    border-spacing: 1em 0;
}

/* Make figures look less dumb. */
figure {
    margin: auto;
    text-align: center;
    font-variant: italic;
}

figure > img {
    max-width: 100%;
}

kbd {
    display: inline-block;
    padding: 0 4px;
    margin: 1px;
    border: 1px #666 solid;

    font: small-caps smaller sans-serif;
    vertical-align: text-bottom;
    text-transform: lowercase;

    background-color: #EEE;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #ccc,
                0 0 0 1px #fff inset;
}

@media print {
    @page {
        margin: auto .72in;
    }

    body {
        font-size: 11pt;
    }

    /* Make the link colours uniform when printed. */
    a:link, a:visited { color: #3344DD; }

    pre {
        /* Remove the box-shadow. */
        box-shadow: none;
        /* Try to keep an entire code-block on one page. */
        page-break-inside: avoid;
        /* Avoid extra scrollbars in the PDF. */
        overflow-x: auto;
    }
}
